html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    color: #9f6f57;
    background-color: #f2e0cd;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

header {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 64px;
}